.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Banner */

.hero-banner {
  background: url("https://thumbs.dreamstime.com/b/handsome-male-model-fashionable-clothes-walking-street-handsome-male-model-fashionable-clothes-149334433.jpg")
    center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
  position: relative;
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.shop-btn {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.shop-btn:hover {
  background-color: #444;
}

.offer-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.offer-card {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px 30px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
}

/* Checkout Styling */
.checkout-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  gap: 10px;
  font-size: 17px;
  font-weight: 500;
}

.step-link {
  text-decoration: none;
  color: gray;
  position: relative;
  transition: color 0.3s, border-bottom 0.3s;
}

.step-link.active-step {
  color: #00bcd4;
  font-weight: 600;
  border-bottom: 2px solid #00bcd4;
  padding-bottom: 2px;
}

.step-divider {
  color: #ccc;
  font-weight: 300;
}




